<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID).apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.$(GOOGLE_CLIENT_ID)</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567261840338-mh8a81ne1jd0e6t8do6dhr5otrkpj8rg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxH7QMAymvRVlDHVhneG9v20GJnEWh44w</string>
	<key>GCM_SENDER_ID</key>
	<string>567261840338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.well.iosApp</string>
	<key>PROJECT_ID</key>
	<string>well-eae92</string>
	<key>STORAGE_BUCKET</key>
	<string>well-eae92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:567261840338:ios:d844ea16f8f03307bdfe0b</string>
	<key>DATABASE_URL</key>
	<string>https://well-eae92.firebaseio.com</string>
</dict>
</plist>
