<component name="DependencyValidationManager">
  <scope name="server" pattern="file[WELL.server*]:*//*.kt||file[WELL.server.jvmMain]:resources/application.conf||file[WELL.server]:build.gradle.kts||file[WELL.modules.db.serverDb*]:*//*.kt||file[WELL.modules.db.serverDb*]:*//*.sq*||file[WELL.modules.db.serverDb]:build.gradle.kts||file[WELL.modules.models*]:*//*.kt*" />
</component>